page-login {
 
    ion-content{
        background: url('../../assets/imgs/fondo.png') no-repeat;
        -webkit-background-size: 130% auto;
    }


    .paddingRow{
        padding-top: 75px;
    }

    .botonLogin{
        background-color:black;
        font-size: 20px;
        font-weight: 500;
    }

    .botonAlta{
        color:white;
        font-size: 20px;
        font-weight: 500;
        background-color:rgba(245, 4, 4, 0.6);
        width: 170px;
        height: 50px;
    }
    
    .transparent{
        background-color: rgba(0, 0, 0, 0.4);
        border-radius : 5px;
       
    }
    
}